
<div class="card-body">
    {{ form_start(form) }}
    <div class="col-sm-12">
        {{ form_label(form.date, 'Date *', {'label_attr': {'id': 'recipient-name'}}) }}

        <div class='input-group date' id='datetimepicker_facture'>
            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
            <span class="input-group-addon icon"><span class="fas fa-calendar"></span></span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                {{ form_label(form.date, 'Date debut *', {'label_attr': {'id': 'recipient-name'}}) }}

                <div class='input-group date' id='datetimepicker_debut'>
                    {{ form_widget(form.date_debut, {'attr': {'class': 'form-control'}}) }}
                    <span class="input-group-addon icon"><span class="fas fa-calendar"></span></span>
                </div>
            </div>
            <div class="col-md-6">
                {{ form_label(form.date, 'Date de fin *', {'label_attr': {'id': 'recipient-name'}}) }}

                <div class='input-group date' id='datetimepicker_fin'>
                    {{ form_widget(form.date_fin, {'attr': {'class': 'form-control'}}) }}
                    <span class="input-group-addon icon"><span class="fas fa-calendar"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        {{ form_row(form.etat) }}
    </div>
    <div class="col-md-12">
        {{ form_row(form.designation) }}
    </div>
    <div class="col-md-12">
        {{ form_row(form.quantite) }}
    </div>
    <div class="col-md-12">
        {{ form_row(form.prix_unitaire) }}
    </div>
    <div class="col-md-12">
        {{ form_row(form.client) }}
    </div>
    <div id="result">

    </div>
    <div class="col-md-12">
        {{ form_row(form.save) }}
    </div>


</div>
{{ form_end(form) }}