
<div class="card-body">
    {{ form_start(form_facture) }}
    <div class="col-sm-8">
        {{ form_label(form_facture.date, 'Date *', {'label_attr': {'id': 'recipient-name'}}) }}

        <div class='input-group date' id='datetimepicker_facture'>
            {{ form_widget(form_facture.date, {'attr': {'class': 'form-control'}}) }}
            <span class="input-group-addon icon"><span class="fas fa-calendar"></span></span>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                {{ form_label(form_facture.date, 'Date debut *', {'label_attr': {'id': 'recipient-name'}}) }}

                <div class='input-group date' id='datetimepicker_debut'>
                    {{ form_widget(form_facture.date_debut, {'attr': {'class': 'form-control'}}) }}
                    <span class="input-group-addon icon"><span class="fas fa-calendar"></span></span>
                </div>
            </div>
            <div class="col-md-6">
                {{ form_label(form_facture.date, 'Date de fin *', {'label_attr': {'id': 'recipient-name'}}) }}

                <div class='input-group date' id='datetimepicker_fin'>
                    {{ form_widget(form_facture.date_fin, {'attr': {'class': 'form-control'}}) }}
                    <span class="input-group-addon icon"><span class="fas fa-calendar"></span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        {{ form_row(form_facture.etat) }}
    </div>
    <div class="col-md-8">
        {{ form_row(form_facture.designation) }}
    </div>
    <div class="col-md-8">
        {{ form_row(form_facture.quantite) }}
    </div>
    <div class="col-md-8">
        {{ form_row(form_facture.prix_unitaire) }}
    </div>
    <div class="col-md-8">
       <div class="row">
           <div class="col-md-8">
               {{ form_row(form_facture.client,{'attr':{'class':'select2'}}) }}
           </div>
           <div class="col-md-4 mt-2">
               <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                   Launch demo modal
               </button>
           </div>
       </div>
    </div>
    <div id="result">

    </div>
    {% if facture.date is not null %}
       <div class="col-md-8">
           <div class="form-group">
               <label for="">Total Hors Taxe</label>
               <input type="text" class="form-control" value="{{ facture.totalHt }} €" disabled>

           </div>
       </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="">TVA</label>
                <input type="text" class="form-control" value="20 %" disabled>

            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="">Total TVA</label>
                <input type="text" class="form-control" value="{{ facture.totalTva }} €" disabled>

            </div>
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <label for="">Total TTC</label>
                <input type="text" class="form-control" value="{{ facture.totalTtc }} €" disabled>

            </div>
        </div>

    {% endif %}



</div>
{% include 'facturation/form_footer.html.twig' %}
{{ form_end(form_facture) }}
<!-- Button trigger modal -->
