<table class="table table-responsive table-striped  table_cra">
    <thead>
    <tr>
        <th></th>
        {% for x in range(start_date|date('U'), end_date|date('U'), 86400 ) %}
            {% if  x|date('d-m-Y')|date('N') >=6  %}
                <th class="bg-dark">{{ x|date('d') }}</th>
            {% else %}
                <th class="">{{ x|date('d') }}</th>
            {% endif %}

        {% endfor %}
    </tr >
    </thead>
    <tbody>
    {% if cra_all is empty %}
        {% for client in clients  %}
            <tr >
                <td>{{ client.nom }}</td>
                {% for x in range(start_date|date('U'), end_date|date('U'), 86400 ) %}
                        <td data-cra-id="" data-client-id="{{ client.id }}" data-date-td="{{  x|date('Y-m-d')  }}" data-date-cra="" data-cra-journee="" class="" onclick="showModal(this)"></td>
                {% endfor %}

            </tr>
        {% endfor %}

        {% else %}


            {% for cra in cra_all %}
                <tr>
                    <td>{{ cra.client.nom }}</td>
                    {% for x in range(start_date|date('U'), end_date|date('U'), 86400 ) %}
                        {% set week = null %}
                        {% set disabled = 'disabled' %}
                        {% if  x|date('d-m-Y')|date('N') >=6  %}
                            {% set week = 'bg-dark' %}
                            {% set disabled = 'disabled' %}
                        {% endif %}

                        {% set founded = null %}
                        {% set journee = null %}
                        {% set date_cra = null %}
                        {% set cra_id = null %}
                        {% if cra.date|date('U') == x %}
                            {% set founded = true %}
                            {% set journee = cra.journee %}
                            {% set cra_id = cra.id %}
                            {% set date_cra = cra.date|date('Y-m-d') %}

                        {% endif %}

                        {% if founded == true %}
                            <td data-cra-id="{{ cra_id }}" data-client-id="{{ cra.client.id }}" data-date-td="{{  x|date('Y-m-d')  }}" data-date-cra="{{ date_cra }}" data-cra-journee="{{ journee }}" class="bg-primary" onclick="showModal(this)">f</td>
                        {% else %}
                            <td data-cra-id="{{ cra_id }}" data-client-id="{{ cra.client.id }}" data-date-td="{{  x|date('Y-m-d')  }}" data-date-cra="{{ date_cra }}" data-cra-journee="{{ journee }}" class="{{ week }}" {{ disabled }} {% if week=='' %}onclick="showModal(this){% endif %}"></td>
                        {% endif %}

                    {% endfor %}

                </tr>
            {% endfor %}



    {% endif %}






    </tbody>





    {#<tbody>#}

    {#</tbody>#}
</table>