{% extends 'layout.html.twig' %}
{% block title %}Societe{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
        <a href="{{ path('societe_edit',{id: societe.id}) }}" class="btn btn-secondary float-right">Actualiser la societé</a>
            </div>
        </div>
        <hr>
                <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
               Info Sociéte</div>
            <div class="card-body">
                <table class="table ">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Numero siret</th>
                        <th>Tva</th>
                        <th>Téléphone</th>
                        <th>Email</th>
                        <th></th>
                        
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ societe.nom }}</td>
                        <td>{{ societe.numeroSiret }}</td>
                        <td>{{ societe.tvaIntercomunaitaire }}</td>
                        <td>{{ societe.telephone }}</td>
                        <td>{{ societe.email }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!-- fin du data table -->


    </div>
    <!-- /.container-fluid -->


{% endblock %}
