{% extends 'layout.html.twig' %}
{% block title %}Frais{% endblock %}
{% block body %}
    <div class="container-fluid">
        <!-- Menu action -->

        <div class="row">
            <div class="col-md-12">
            <div class="btn-group float-right" >
                <button type="button" class="btn btn-secondary">Action</button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item " href="{{ path('frais_new') }}"  ><i class="fas fa-plus"></i> &nbsp;Ajouter</a>
                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#genereNoteModal" genereNoteModal><i class="fas fa-file-excel"></i> &nbsp;Editer une note de frais</a>
                </div>
            </div>
        </div>
        </div>
        <hr>
        <!-- Fin du menu actions -->


        <!-- dédut de la vue dataTable -->
        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Filtrer par date</div>
            <div class="card-body">
                <form class="form-inline" method="post" action="{{ path('frais') }}">
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label mr-4">Date <small> (*)</small> : </label>
                                <div class='input-group date form-group' id='filter'>
                                    <input type='text' class="form-control" id="recipient-name" name="date" value="{{ start |date('m-Y') }}">
                                    <span class="input-group-addon icon">
                                                 <span class="fas fa-calendar"></span>
                                                 </span>
                                </div>
                            </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary ml-4" value="Filter">

                    </div>

                    <div>
                    </div>

                </form>
            </div>



        </div>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Les frais</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="dataTable" >
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Libelle</th>
                            <th>Type</th>
                            <th>Montant TTC</th>
                            <th>Taxe</th>
                            <th>Montant HT</th>
                            <th>Etat</th>
                            <th>Justificatif</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tfoot class="mt-4">
                        <tr>
                            <th>Totaux</th>
                            <th></th>
                            <th></th>
                            <th>{{ totalTtc(frais) }}</th>
                            <th>1000€</th>
                            <th>{{ totalHt(frais) }} </th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </tfoot>

                        <tbody>
                        {% for f in frais  %}
                            <tr>


                                <td><span class="font-weight-bold">{{ f.date | date('d-m-Y') }}</span></td>
                                <td>{{ f.libelle }}</td>
                                <td>{{ formatType(f.type)  }}</td>
                                <td>{{ f.montantTtc }} €</td>
                                <td>{{ f.taxe }}</td>
                                <td>{{ f.montantHt }} €</td>
                                {#<td><span class="badge badge-{{ f.etat }}">{{ f.etat }} </span></td>#}
                                <td>{{ f.etat | badge }}</td>
                                <td><a target="_blank" href="{{ vich_uploader_asset(f, 'fichier') }}"><i class="far fa-file-pdf"></i></a></td>


                                <td>
                                    <a href="{{ path('frais_edit',{id: f.id}) }}"><i class="fas fa-edit text-primary"></i></a>&nbsp;
                                    <a href="{{ path('frais_delete',{id: f.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer ce enregistrement ? ')"><i class="far fa-trash-alt text-danger"></i></a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- fin du data table -->

        <!-- formulaire export excel -->
        <div class="modal fade" id="genereNoteModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Export frais</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="recipient-name" class="col-form-label">Date *</label>
                                        <div class='input-group date' id='datetimepicker2'>
                                            <input type='text' class="form-control" />
                                            <span class="input-group-addon icon">
                                                 <span class="fas fa-calendar"></span>
                                                 </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                        <button type="button" class="btn btn-primary">Générer</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- fin du formulaire export -->

    </div>
    <!-- /.container-fluid -->


{% endblock %}
