{% extends 'layout.html.twig' %}
{% block title %}Utilisateurs{% endblock %}
{% block body %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="{{ path('index') }}">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">Utilisateurs</li>
        </ol>
        <div class="row">
            <div class="col-md-12">
                <div class="btn-group float-right" >
                    <button type="button" class="btn btn-secondary">Action</button>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item " href="{{ path('user_new') }}"  ><i class="fas fa-plus"></i> &nbsp;Ajouter</a>
                         </div>
                </div>
            </div>
        </div>
        <hr>


        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Les utilisateurs</div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="User_table" width="100%" cellspacing="0">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>Roles</th>
                             <th>Etat</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Email</th>
                            <th>Username</th>
                            <th>
                                Roles
                            </th>

                            <th>Action</th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.nom }}</td>
                                <td>{{ user.prenom }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.username }}</td>
                                <td>
                                    {% for role in user.roles  %}
                                        <span>{{ role }}</span>
                                    {% endfor %}
                                </td>
                               <td><span class="badge badge-{% if(user.etat == 0) %}danger{% else %}success{% endif %}">{{ format_etat_user(user) }}</span></td>
                                <td>
                                    <a href="{{ path('user_edit',{ id: user.id }) }}" title="Editer"><i class="fas fa-edit text-primary"></i></a>
                                    <a href="{{ path('user_delete',{ id: user.id }) }}" title="Eliminer"><i class="fas fa-trash text-danger"></i></a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>


            </div>
        </div>

    </div>
{% endblock %}

